parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    checkUnionTypes: false
    level: 9
    ignoreErrors:
    excludePaths:
        - */vendor/**
    paths:
        - src
        - tests
        - config